# binary stuff
*.o
obj
a.out*
span
replaceIt
megaphone
myPhoneBook
zombiefier
brainizer
fighting

# libraries
*.a
*.dylib
*.swiftdoc
*.swiftmodule

# macos garbage
.DS_Store

# vim utils
*.swp
*.vim

# ctags
tags

# debug
.gdb_history