# binary stuff
*.o
obj
a.out*
span
fixed
myphonebook
harlfilter

# libraries
*.a
*.dylib
*.swiftdoc
*.swiftmodule

# macos garbage
.DS_Store

# vim utils
*.swp
*.vim

# vscode utils
*.json


# ctags
tags

# debug
.gdb_history

#stuff

*.txt